
body {
    color: #f7f7f7;
}

.banner {
    background-image: url("../images/nasa.jpg");
    background-size: 100% 100%;
    height: 200px;
    text-align: center;
}

.jumbotron {
    color: red;
    background-image: url("../images/nasa.jpg");
}